<div class="carousel-item active p-2 p-md-4">
	<div class="d-flex mx-auto p-2 gap-1" style="max-width:400px">
		<div class="w-20">
			{{content.field_author_image}}
		</div>
		<div>
			{{content.field_author_name}}
			{{content.field_testimonial_text}}
		</div>
	</div>
</div>
