<div class="about">
	<div class="about__container">
		<!-- Sidebar -->
		<aside class="about__container__sidebar ">
			<div class="first_half p-2 p-md-4">
				<h1>About</h1>
			</div>
			<div class="second_half p-2 p-md-4">
				<h3>Special thanks to</h3>
				<div class="ms-2">
					<h6>Shivam Kumar</h6>
					<h6>John Paul</h6>
					<h6>Vign Paulena</h6>
				</div>
			</div>
		</aside>

		<!-- Main -->
		<main class="about__container__main p-2 p-md-4">
			<h3>Mission</h3>
			<p class="text-justify">
				"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
																				aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia 
																				dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et 
																				dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
																				corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure 
																				reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
																				fugiat quo voluptas nulla pariatur?"
			</p>
			<h3>Lorem title</h3>
			<p class="text-justify">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
															Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
															Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
			</p>
			<h3>Ipsum Lo</h3>
			<p class="text-justify">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsum architecto dolorem et dolore quae, ex rem commodi rerum qui laudantium eum quas odio tempora, saepe earum? Consectetur, consequatur voluptas?
			</p>
		</main>
	</class=>
</div>
