<div class="about">
	<div
		class="about__container">
		<!-- Sidebar -->
		<aside class="about__container__sidebar">
			...
		</aside>

		<!-- Main -->
		<main class="about__container__main">
			...
		</main>
	</div>
</div>
