// .navbar-collapse{
//     flex-grow:unset !important;
// }
$color1 : #6542f1;
$color2 : #ffffff;
$color3 : #7c7c7c;

// *{
//   outline: solid 1px greenyellow;
// }
//Card of each phone display
.phone_card_container, .phone_full{
  .card{
  border-radius: 0 !important;
  &__btn{
    height: 100%;
    padding: 0;
    outline: none;
    border: none;
    &__outline{
      background-color: $color2;
    }
    &__cta, &__cta:hover{
      background-color: $color1;
      border: none;
      outline: none;
    }
  }
  &__link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    &#addtocart{
      color: $color1;
      &:hover,&:active,&:focus{
        border: none;
        outline: none;
      }
    }
    &#buynow{
      color: $color2;
      &:hover,&:active,&:focus{
        border: none;
        outline: none;
      }
    }
  }
  & a{
    color: $color3;
    font-size: smaller;
    text-decoration: none;
    &:hover{
      color: $color1;
    }
  }
  &__phone_name{
    white-space: nowrap; 
    width: min-content; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}
.disabled{
  pointer-events: none;
  cursor:not-allowed;
  filter: brightness(150%);
}
}

.taxonomy-term a{
  color: $color3;
  text-decoration: none !important;
  &:hover{
    color: $color1;
  }
}

.know_more a{
  color: $color1;
}

//about page
.about{
  &__container {
    display: flex;
    height: min-content;
    &__sidebar {
    height:80vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
  }
  .first_half{
    flex: 1;
  }
  .second_half{
    flex:1;
  }
  &__main {
    flex: 1;
    overflow: auto;
  }
  & p{
    color: $color3;
  }
  }
}

//Footer
.footer {
    background-color: $color1;
    &__header {
        color: $color2;
        margin-bottom: 15px;
    }
    &__link {
        padding: 3px;
        a {
            color: $color2;
            text-decoration: none;
        }
        a:hover {
            color:#d3d3d3;
        }
    }
    }
.copyright_info {
    height: fit-content;
    background-color: $color3;
    font-size: smaller;
}


// Corousel
.carousel {
  background: #EEE;
}
.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

//grid of reviews

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    // width: 150px;
    display: inline-block;
    width: 100%;
    /* border: solid 1px black; */
    padding: 5px;
    border-radius: 8px;
    img {
      width: 50%;
      border-radius: 50%;
    }
  }
}
